body {
	margin: 0 10%;
	background-color: #fff3e6;
}

h1 {
	color: #303f9f;
	text-align: center;
}

.box-list {
	display: flex;
}

.box {
	text-align: center;
	color: #303f9f;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	height: 250px;
	width: 300px;
	margin-top: 20px;
}

.box h2 {
	font-size: 50px;
}

.MuiDataGrid-colCellTitle {
	font-size: 12px;
}

.info-table {
	display: flex;
}

#end-date {
	height: 10px;
}

#start-date {
	height: 10px;
}

.MuiButton-contained {
	height: 47px;
}
